{% extends 'mog/user/profile.html' %}

{% load filters %}

{% block _edition %}active{% endblock %}

{% block content2 %}
    <div class="row margin-top-10">
        <div class="col-md-6 col-md-offset-3">
            <form action="{% url 'mog:user_edit' user_in_profile.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="for-group margin-bottom-10">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" disabled=""
                           value="{{ user_in_profile.username }}">
                </div>

                {% include 'mog/includes/form.html' with form=user_form %}
                {% include 'mog/includes/form.html' with form=profile_form %}

                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'mog:user' user_in_profile.pk %}" class="btn btn-lg btn-default btn-block">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
