{% extends 'mog/user/profile.html' %}

{% load i18n %}
{% load humanize %}

{% block _messages %}active{% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#inbox">{% trans 'Inbox' %} </a></li>
                <li><a data-toggle="tab" href="#outbox">{% trans 'Outbox' %}</a></li>
            </ul>

            <div class="tab-content margin-top-10">
                <div id="inbox" class="tab-pane fade in active">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans 'From' %}</th>
                                <th>{% trans 'Subject' %}</th>
                                <th>{% trans 'Date' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in inbox %}
                                <tr>
                                    <td>{% include 'mog/user/_link.html' with user=message.source %}</td>
                                    <td>
                                        <a href="#" data-toggle="modal"
                                           data-target="#message-received-{{ message.id }}">{{ message.subject }}</a>
                                        {% include 'mog/message/_message_received.html' with message=message %}
                                    </td>
                                    <td>{{ message.date|naturaltime }}</td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="3">{% trans 'No message received!' %}</td></tr>
                            {% endfor %}

                            {% include 'mog/message/_send_message.html' with redirect_url=request.path %}
                        </tbody>
                    </table>
                </div>

                <div id="outbox" class="tab-pane fade fade">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans 'To' %}</th>
                                <th>{% trans 'Subject' %}</th>
                                <th>{% trans 'Date' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in outbox %}
                                <tr>
                                    <td>{% include 'mog/user/_link.html' with user=message.target %}</td>
                                    <td>
                                        <a href="#" data-toggle="modal"
                                           data-target="#message-sent-{{ message.id }}">{{ message.subject }}</a>
                                        {% include 'mog/message/_message_sent.html' with message=message %}
                                    </td>
                                    <td>{{ message.date|naturaltime }}</td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="3">{% trans 'No message sent!' %}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}