{% extends 'mog/base.html' %}

{% load security %}
{% load i18n %}

{% block title %}{{ user_in_profile.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {% include 'mog/user/_link.html' with user=user_in_profile %}
                        <small>
                            {{ user_in_profile.first_name }} {{ user_in_profile.last_name }}
                        </small>
                        {% if user|is_admin %}
                            <span style="font-size: 14px;">
                                {% if user_in_profile.is_active %}
                                    <a data-toggle="tooltip" href="#" title="" data-placement="right" data-original-title="{% trans 'Active' %}">
                                        <span class="glyphicon glyphicon-ok-sign text-success"></span>
                                    </a>
                                {% else %}
                                    <a data-toggle="tooltip" href="#" title="" data-placement="right" data-original-title="{% trans 'Inactive' %}">
                                        <span class="glyphicon glyphicon-remove-sign text-danger"></span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </h1>

                    {% with institution=user_in_profile.profile.institution %}
                        {% if institution %}
                            <h2>
                                <small>{{ institution.name }} ({{ institution.country }})</small>
                            </h2>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        {% if user|can_edit_profile:user_in_profile %}
                            <div class="col-md-12 margin-bottom-10">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="{% block _detail %}{% endblock %}">
                                        <a href="{% url 'mog:user' user_in_profile.id %}">
                                            {% trans 'Profile' %}
                                        </a>
                                    </li>
                                    <li class="{% block _edition %}{% endblock %}">
                                        <a href="{% url 'mog:user_edit' user_in_profile.id %}">
                                            {% trans 'Edit Profile' %}
                                        </a>
                                    </li>
                                    <li class="{% block _messages %}{% endblock %}">
                                        <a href="{% url 'mog:user_messages' user_in_profile.id %}">
                                            {% trans 'Messages' %}
                                        </a>
                                    </li>
                                    <li class="{% block _teams %}{% endblock %}">
                                        <a href="{% url 'mog:user_teams' user_in_profile.id %}">
                                            {% trans 'Teams' %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    {% block content2 %}{% endblock %}
                </div>
                <div class="col-md-3 text-center">
                    {% include 'mog/user/_image.html' with user=user_in_profile %}
                    {% if user.is_authenticated and user != user_in_profile %}
                        <a class="btn btn-primary btn-block margin-top-5" data-toggle="modal" data-target="#send-message">
                            <i class="glyphicon glyphicon-envelope"></i> {% trans 'Send a message' %}
                        </a>

                        {% include 'mog/message/_send_message.html' with target=user_in_profile %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}