{% extends 'mog/user/profile.html' %}

{% load static %}
{% load filters %}
{% load i18n %}

{% block _teams %}active{% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">{% trans 'Team' %}</th>
                        <th class="text-center">{% trans 'Description' %}</th>
                        <th class="text-center">{% trans 'Contestants' %}</th>
                        <th class="text-center">{% trans 'Actions' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                {% if team.description %}
                                    {{ team.description }}
                                {% else %}
                                    <i>{% trans 'No description provided' %}</i>
                                {% endif %}
                            </td>
                            <td>
                                <ul class="users-in-team">
                                    {% for profile in team.profiles.all %}
                                        <li class="user-in-team">{% include 'mog/user/_link.html' with profile=profile %}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="#" class="btn btn-link" data-toggle="modal"
                                   data-target="#remove-team-{{ team.id }}">{% trans 'Remove' %}</a>
                                {% include 'mog/user/_remove_team.html' with team=team %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="4">{% trans 'No teams created!' %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <a href="#" class="btn btn-link" data-toggle="modal"
               data-target="#create-new-team"><i class="glyphicon glyphicon-pencil"></i> {% trans 'Create team' %}</a>
            {% include 'mog/user/_create_team.html' with user_in_profile=user_in_profile %}
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{% static 'mog/plugins/jquery.tokeninput/css/token-input.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/jquery.tokeninput/css/token-input-facebook.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mog/plugins/jquery.tokeninput/js/jquery.tokeninput.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#members').tokenInput('{% url "mog:users_json" %}', {
                theme: 'facebook',
                noResultsText: 'No user found!',
                searchingText: 'Searching...',
                deleteText: "&#x2603;",
                propertyToSearch: "username",
                preventDuplicates: true,
                zindex: 11001,
                prePopulate: [
                    {
                        'id': {{ user_in_profile.id }},
                        'username': '{{ user_in_profile.username }}',
                        'first_name': '{{ user_in_profile.first_name }}',
                        'last_name': '{{ user_in_profile.last_name }}',
                        'url': '{{ user_in_profile|avatar }}',
                        readonly: true
                    }
                ],
                resultsFormatter: function(item){
                    var html = [
                            '<li>',
                            '    <img src="' + item.url + '" height="25px" width="25px" />',
                            '    <div style="display: inline-block; padding-left: 10px;">',
                            '        <div>',
                            '            <div class="username">',
                            '                ' + item.username,
                            '            </div>',
                            '            <div class="full_name">',
                            '                ' + item.first_name + ' ' + item.last_name,
                            '            </div>',
                            '        </div>',
                            '    </div>',
                            '</li>'
                    ];
                    console.log(html.join('\n'))
                    return html.join('');
                },
                tokenFormatter: function(item) {
                    return '<li><p>' + item.username + '</p></li>';
                }
            });
        });
    </script>
{% endblock %}