{% extends 'mog/base.html' %}

{% load i18n %}

{% load static %}

{% block title %}Login{% endblock %}

{% block messages %}{# overwrite super block  #}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h3 class="title">{% trans 'Login' %}</h3>
            {% include 'mog/includes/_messages.html' with messages=messages %}
        </div>
        <div class="col-md-4 col-md-offset-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <form action="." method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next|default_if_none:'' }}" />

                                <div class="input-group margin-bottom-10">
                                    <span class="input-group-addon" id="username_addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" name="username" class="form-control" placeholder="{% trans 'Username' %}"
                                           aria-describedby="username_addon" value="{{ username }}" autofocus required>
                                </div>

                                <div class="input-group margin-bottom-10">
                                    <span class="input-group-addon" id="password_addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" name="password" class="form-control" placeholder="{% trans 'Password' %}"
                                           aria-describedby="password_addon" required>
                                </div>

                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <input type="submit" value="{% trans 'Login' %}" class="btn btn-primary btn-block">
                                    </div>
                                </div>
                            </form>

                            <div class="text-center">
                                <a href="{% url 'auth_password_reset' %}" class="btn">{% trans 'Forgot Password ?' %}</a>
                                <a href="{% url 'registration_register' %}" class="btn">{% trans 'Register' %}</a>
                            </div>

                            <div class="well text-center" style="margin: 0 !important;">
                                <div class="margin-bottom-10">
                                    <small class="uniform-text uniform-medium">
                                        {% trans 'Or singin with' %}
                                    </small>
                                </div>

                                <a style="text-decoration: none" href="{% url "social:begin" "github" %}">
                                    <img src="{% static 'mog/images/github.png' %}">
                                </a>

                                <span style="margin: 0 10px 0 10px;"></span>

                                <a style="text-decoration: none" href="{% url "social:begin" "google-oauth2" %}">
                                    <img src="{% static 'mog/images/google-plus.png' %}">
                                </a>

                                <span style="margin: 0 10px 0 10px;"></span>

                                <a style="text-decoration: none" href="{% url "social:begin" "facebook" %}">
                                    <img src="{% static 'mog/images/fl.png' %}">
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
