{% extends "mog/base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" action=".">
                {% csrf_token %}
                {% include 'mog/includes/form.html' with form=form label_class="sr-only" %}
                <input type="submit" value="{% trans 'Request Reset Password' %}" class="btn btn-primary pull-right"/>
            </form>
        </div>
    </div>
{% endblock %}
