{% extends "mog/base.html" %}
{% load i18n %}

{% block title %}Password reset successfully{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well well-lg text-center">
                <p>{% trans "Password reset successfully" %}</p>
                <p><i class="glyphicon glyphicon-log-in" style="color: green; font-size: 100px;"></i></p>
                <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
