venv/
env/
.vscode/
emails/
api/fixtures/*.json
!api/fixtures/countries.json
.idea/
*.pyc
*.mo
*~
*.swp
*.save
secrets.json
settings.ini
categories.json
confusables.json
package-lock.json
node_modules/
frontend/static/frontend/dist/*
!frontend/static/frontend/dist/.gitkeep
