venv/
emails/
media/
api/fixtures/*.json
!api/fixtures/countries.json
.idea/
*.pyc
*.mo
*~
*.swp
*.save
secrets.json
settings.ini
mog/static/admin/
mog/static/debug_toolbar/
categories.json
confusables.json
