venv/
.vscode/
emails/
api/fixtures/*.json
!api/fixtures/countries.json
!api/fixtures/results.json
.idea/
*.pyc
*.mo
*~
*.swp
*.save
secrets.json
settings.ini
categories.json
confusables.json
node_modules/
frontend/static/frontend/dist/*
!frontend/static/frontend/dist/.gitkeep
__pycache__/
moss/moss-output-*
.DS_Store
