{% extends 'mog/base.html' %}

{% load static %}
{% load security %}

{% block title %}Create post{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Create Post</h3>
            <form action="{% url 'mog:post_create' %}" method="post">
                {% csrf_token %}
                {% include 'mog/includes/form.html' with form=form label_class='sr-only' %}

                {% if user|is_admin %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <input id="show_in_main" type="checkbox" name="show_in_main_page"
                                       style="margin-left: 0 !important;">
                                <label for="show_in_main">Show in main page ?</label>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="{% url 'mog:index' %}" class="btn btn-lg btn-default btn-block">Cancel</a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.7/summernote.min.css" integrity="sha256-LtkRmRit98lUHXAO6AkQ740CIP8xLrzmSMW+weZj/Ys=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" integrity="sha256-VBrFgheoreGl4pKmWgZh3J23pJrhNlSUOBek+8Z2Gv0=" crossorigin="anonymous" />
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.7/summernote.min.js" integrity="sha256-h14wZWLJSYljixnsAiegAH/D/hSC9DLl55Jd3+PQSBM=" crossorigin="anonymous"></script>
{% endblock %}