{% extends 'mog/base.html' %}

{% load static %}
{% load humanize %}
{% load filters %}
{% load security %}
{% load i18n %}


{% block title %}{{ post.name }}{% endblock %}

{% block metas %}
    <!--  Essential META Tags -->
    <meta property="og:title" content="{{post.name}}" />

    {% if post.meta_description %}
        <meta property="og:description" content="{{post.meta_description}}" />
    {% endif %}

    {% if post.meta_image %}
        <meta property="og:image" content="{{post.meta_image}}" />
    {% endif %}

    <meta property="og:url" content="http://matcomgrader.com{% url 'mog:post' post.pk post.slug %}" />

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content='Matcom Online Grader' />

    <!--  Article META Tags -->
    <meta property="og:type" content="article"/>
    <meta property="article:author' content="http://matcomgrader.com{% url 'mog:user' post.user.pk %}" />
    <meta property="article:publisher" content="http://matcomgrader.com" />
    <meta property="article:published_time" content='{{post.creation_date | date:"c"}}' />
    <meta property="article:modified_time" content='{{post.modification_date | date:"c"}}' />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 well bckg-white">
            {% include 'mog/post/_post.html' with post=post %}
            {% if user|can_edit_post:post %}
                <a href="{% url 'mog:post_edit' post.id %}" class="btn btn-link pull-right no-underline">
                    <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit post' %}
                </a>
            {% endif %}
        </div>

        <div class="col-md-12">
            {% for comment in post.sorted_comments %}
                <div id="comment-{{ comment.id }}" class="media">
                    <div class="media-left">
                        <a href="{% url 'mog:user' comment.user.id %}">
                            <img class="media-object" src="{{ comment.user|avatar }}" alt="{{ comment.user.username }}">
                        </a>
                    </div>
                    <div class="media-body">
                        {% include 'mog/user/_link.html' with user=comment.user %}
                        <small class="uniform-text uniform-small pull-right">{{ comment.date|naturaltime }}</small>

                        <p>{{ comment.html|safe|linebreaks }}</p>

                        {% if user|can_edit_comment:comment %}
                            <a href="#" class="btn btn-link pull-right no-underline"
                               data-toggle="modal" data-target="#edit-comment-{{ comment.id }}">
                                <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit comment' %}
                            </a>
                            {% include 'mog/comment/_edit_comment.html' with comment=comment %}
                        {% endif %}

                        {% if user|can_remove_comment:comment %}
                            <a href="#" class="btn btn-link pull-right no-underline"
                               data-toggle="modal" data-target="#remove-comment-{{ comment.id }}">
                                <i class="glyphicon glyphicon-trash"></i> {% trans 'Remove comment' %}
                            </a>
                            {% include 'mog/comment/_remove_comment.html' with comment=comment %}
                        {% endif %}
                    </div>
                </div>

                <hr />
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <div class="col-md-12">
                {% if user|can_comment_on_post:post %}
                    <form action="{% url 'mog:post' post.id post.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <input type="hidden" name="post" value="{{ post.id }}">
                        <div class="form-group">
                            <label for="comment">
                                <small class="uniform-text uniform-small">
                                    {% trans 'Add your comment here' %}
                                </small>
                            </label>
                            <textarea id="comment" name="body" class="form-control" rows="10"></textarea>
                        </div>
                        <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary pull-right">
                    </form>
                {% else %}
                    <div class="alert alert-danger secure info fade in" role="alert">
                        <i class="glyphicon glyphicon-comment"></i>
                        {% trans "You need to accept some problem to be able to comment." %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {% include 'mog/includes/mathjax' %}
{% endblock %}
