{% extends 'mog/base.html' %}

{% load static %}
{% load humanize %}
{% load filters %}
{% load security %}
{% load i18n %}


{% block title %}{{ post.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 well bckg-white">
            {% include 'mog/post/_post.html' with post=post %}
            {% if user|can_edit_post:post %}
                <a href="{% url 'mog:post_edit' post.id %}" class="btn btn-link pull-right no-underline">
                    <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit post' %}
                </a>
            {% endif %}
        </div>

        <div class="col-md-12">
            {% for comment in post.sorted_comments %}
                <div class="media">
                    <div class="media-left">
                        <a href="{% url 'mog:user' comment.user.id %}">
                            <img class="media-object" src="{{ comment.user|avatar }}" alt="{{ comment.user.username }}">
                        </a>
                    </div>
                    <div class="media-body">
                        {% include 'mog/user/_link.html' with user=comment.user %}
                        <small class="uniform-text uniform-small pull-right">{{ comment.date|naturaltime }}</small>

                        <p>{{ comment.html|safe }}</p>

                        {% if user|can_edit_comment:comment %}
                            <a href="#" class="btn btn-link pull-right no-underline"
                               data-toggle="modal" data-target="#edit-comment-{{ comment.id }}">
                                <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit comment' %}
                            </a>
                            {% include 'mog/comment/_edit_comment.html' with comment=comment %}
                        {% endif %}
                    </div>
                </div>

                <hr />
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <div class="col-md-12">
                <form action="{% url 'mog:post' post.id post.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <input type="hidden" name="post" value="{{ post.id }}">
                    <div class="form-group">
                        <label for="comment">
                            <small class="uniform-text uniform-small">
                                {% trans 'Add your comment here' %}
                            </small>
                        </label>
                        <textarea id="comment" name="body" class="form-control" rows="10"></textarea>
                    </div>
                    <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary pull-right">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" async
            src="{% static 'mog/plugins/MathJax/MathJax.js' %}">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({messageStyle: "none"});
    </script>
{% endblock %}