{% extends 'mog/base.html' %}

{% load static %}
{% load filters %}
{% load i18n %}

{% block title %}{% trans 'Submit' %}{% endblock %}

{% block styles %}
    <link href="{% static 'mog/plugins/codemirror/lib/codemirror.css' %}" rel="stylesheet"/>

    {% with turl=user|theme_url %}
        {% if turl %}
            <link href="{% static turl %}" rel="stylesheet"/>
        {% endif %}
    {% endwith %}

    <style>
        .CodeMirror-scroll {
            min-height: 250px;
            max-height: 400px;
        }
    </style>
{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=problem.contest submit_active='active' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="title">{% trans 'Submit' %}</h3>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <form action="{% url 'mog:submit' problem.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="problem" class="center">{% trans 'Problem' %}</label>
                            <select id="problem" name="problem" class="form-control"
                                    onchange="problemChanged(this);">
                                {% for p in problem.contest.get_problems %}
                                    <option value="{{ p.id }}"
                                            {% if p == problem %}selected{% endif %}>{{ p.full_title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="compiler" class="center">{% trans 'Compiler' %}</label>
                            <select id="compiler" name="compiler" class="form-control"
                                    onchange="compilerChanged(this);">
                                {% for compiler in compilers %}
                                    <option value="{{ compiler.id }}"
                                            {% if user.profile.compiler_id == compiler.id %}selected="selected"{% endif %}>
                                        {{ compiler.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <textarea id="source" name="source"></textarea>
                    </div>
                </div>

                <div class="row margin-top-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="file" name="file" class="btn btn-default"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="SUBMIT" class="btn btn-primary pull-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/clike/clike.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/pascal/pascal.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/python/python.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/mllike/mllike.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/sql/sql.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/gas/gas.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/javascript/javascript.js' %}"></script>

    <script>
        var compilerNames = {};
        {% for compiler in compilers %}
            compilerNames[{{ compiler.id }}] = '{{ compiler.name }}';
        {% endfor %}

        var compilerModes = {};
        {% for compiler in compilers %}
            // MIME type for language {{ compiler.name }} ({{ compiler.language }})
            compilerModes[{{ compiler.id }}] = '{{ compiler|compiler_mode }}';
        {% endfor %}

        var compilersPerProblem = {};
        {% for problem_ in problem.contest.problems.all %}
            compilersPerProblem[{{ problem_.id }}] = [];
            {% for compiler in compilers %}
                compilersPerProblem[{{ problem_.id }}].push({{ compiler.id }});
            {% endfor %}
            compilersPerProblem[{{ problem_.id }}].sort(function(a, b) {
                if (compilerNames[a] < compilerNames[b])
                    return -1;
                if (compilerNames[a] > compilerNames[b])
                    return +1;
                return 0;
            });
        {% endfor %}

        var sourceArea = document.getElementById('source');
        var codeMirror = CodeMirror.fromTextArea(sourceArea, {
            lineNumbers: true, indentUnit: 4, theme: '{{ user|theme_name }}'
        });

        function compilerChanged(compilersHolder) {
            codeMirror.setOption('mode',
                    compilerModes[compilersHolder.options[compilersHolder.selectedIndex].value] || 'default'
            );
        }

        function problemChanged(problemHolder) {
            var compilerHolder = $('#compiler')[0];
            var problemID = problemHolder.options[problemHolder.selectedIndex].value;
            var compilerID = compilerHolder.options[compilerHolder.selectedIndex].value;
            var html = [];
            compilersPerProblem[problemID].forEach(function(cid) {
                if (cid == compilerID) {
                    html.push('<option value="' + cid + '" selected>' + compilerNames[cid] + '</option>');
                } else {
                    html.push('<option value="' + cid + '">' + compilerNames[cid] + '</option>');
                }
            });
            $(compilerHolder).html(html.join(''));
            compilerChanged(compilerHolder);
        }

        compilerChanged(document.getElementById('compiler'));
        problemChanged(document.getElementById('problem'));
    </script>
{% endblock %}