{% load humanize %}

{% load filters %}
{% load security %}
{% load i18n %}

{% if user|can_edit_contest:contest %}
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {% trans 'Actions' %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <form id="rate_contest_form" action="{% url 'mog:rate_contest' contest.id %}"
                      method="post">
                    {% csrf_token %}
                </form>
                <a href="javascript:;" onclick="$('#rate_contest_form').submit();">Rate
                    contest</a>
            </li>
            <li>
                <form id="force_rate_contest_form"
                      action="{% url 'mog:rate_contest' contest.id %}"
                      method="post">
                    {% csrf_token %}
                    <input type="hidden" name="force_rate" value="on"/>
                </form>
                <a href="javascript:;" onclick="$('#force_rate_contest_form').submit();">Force
                    rate
                    contest</a>
            </li>
            <li>
                <form id="unrate_contest_form"
                      action="{% url 'mog:unrate_contest' contest.id %}"
                      method="post">
                    {% csrf_token %}
                    <input type="hidden" name="force_rate" value="on"/>
                </form>
                <a href="javascript:;" onclick="$('#unrate_contest_form').submit();">Unrate
                    contest</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <form id="unfreeze_contest_form" action="{% url 'mog:contest_unfreeze' contest.id %}" method="post">
                    {% csrf_token %}
                </form>
                <a href="javascript:" onclick="$('#unfreeze_contest_form').submit();">
                    {% trans 'Unfreeze contest' %}
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="{% url 'mog:contest_json' contest.id %}">Get JSON</a>
            </li>
            <li><a href="{% url 'mog:contest_csv' contest.id %}">Get CSV</a></li>
        </ul>
    </div>
{% endif %}