{% load security %}
{% load filters %}

<h3 class="title">Coming Contests</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Contest</th>
            <th class="text-center">Duration</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">Registration</th>
            <th class="text-center">Teams</th>
        </tr>
    </thead>
    <tbody>
        {% for contest in coming_contests %}
            <tr>
                <td>
                    {% if user|is_admin %}
                        <a href="{% url 'mog:contest_problems' contest.id %}" class="no-underline">
                            {{ contest.name }}
                        </a>
                    {% else %}
                        {{ contest.name }}
                    {% endif %}

                    {% if not contest.visible %}
                        ( Hidden )
                    {% endif %}

                    {% if user|can_register_for_real:contest %}
                        <p class="margin-bottom-0">
                            → <a class="btn btn-link margin-0 padding-0" href="#" data-toggle="modal"
                                 data-target="#register-{{ contest.id }}">Register</a>
                        </p>
                        {% include 'mog/contest/_register.html' with contest=contest %}
                    {% elif user|registered_for_real:contest %}
                        <p class="margin-bottom-0">
                            → <a class="btn btn-link margin-0 padding-0" href="#" data-toggle="modal"
                                 data-target="#unregister-{{ contest.id }}">Unregister</a>
                        </p>
                        {% include 'mog/contest/_unregister.html' with contest=contest %}
                    {% endif %}
                </td>
                <td class="text-center">{{ contest.duration|format_time }}</td>
                <td class="text-center">{{ contest.start_date }}</td>
                <td class="text-center">{{ contest.closed|yesno:"Closed,Open" }}</td>
                <td class="text-center">{{ contest.allow_teams|yesno:"Yes,No" }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="5">No coming contests!</td></tr>
        {% endfor %}
    </tbody>
</table>
