{% load i18n %}
{% load security %}

<div class="modal fade" id="edit-instance-{{ instance.id }}" role="dialog" aria-labelledby="editInstanceLabel" style="text-align: initial;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editInstanceLabel">
                    {% trans 'Edit Team' %} <span class="badge badge-info" style="font-size: 15px;">{{ instance.team.name }}<span>
                </h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'mog:api_instance_edit_team' instance.id %}" method="POST" class="show-loading-after-submit-no-confirm">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url 'mog:contest_registration' instance.id %}"/>
                    <div class="form-group">
                        <label for="description" class="">{% trans 'Description' %}</label>
                        <textarea id="description" name="description" class="form-control" rows="4">{{ instance.team.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="instances-group" class="">{% trans 'Group' %}</label>
                        <select class="select2 contest-instance-group" name="group" style="width: 100%;">
                            <option value="{{ instance.group|default_if_none:'' }}">
                                {{ instance.group|default_if_none:'-----' }}
                            </option>
                        </select>
                        <small class="form-help-text">By default it will use [{% if contest.group %} {{ contest.group }} {% else %} None {% endif %}]</small>
                    </div>
                    <div class="form-group">
                        <label for="institution" class="">{% trans 'Institution' %}</label>
                        <select class="select2 contest-instance-institution" name="institution" style="width: 100%;">
                            <option value="{% if instance.team.institution %}{{ instance.team.institution.id }}{% endif %}">
                                {% if instance.team.institution %}{{ instance.team.institution.name }}{% else %}-----{% endif %}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox margin-left-25">
                            <input type="checkbox" name="edit-profile-institution" id="profile-institution-{{ instance.id }}">
                            <label for="profile-institution-{{ instance.id }}" class="" style="font-weight: 600;">{% trans 'Edit this institution to all profiles additionally' %}</label>
                            <small class="form-help-text form-help-text-checkbox">This will change the Institution of all profiles within this Team (<span style="color: red;">critical action</span>).</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox margin-left-25">
                            <input type="checkbox" name="description-only" id="description-only-{{ instance.id }}" 
                                {% if instance.render_team_description_only %}checked="checked"{% endif %}>
                            <label for="description-only-{{ instance.id }}" class="" style="font-weight: 600;">{% trans 'Render team description only' %}</label>
                            <small class="form-help-text form-help-text-checkbox">If true, render the team without members and only displaying the description on hover.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox margin-left-25">
                            <input type="checkbox" name="is_active" id="active-{{ instance.id }}" class="instance-edit-form-active">
                            <label for="active-{{ instance.id }}" class="" style="font-weight: 600;">{% trans 'Is active' %}</label>
                            <small class="form-help-text form-help-text-checkbox">This will be setted to all profiles within this Team (<span style="color: red;">critical action</span>).</small>
                        </div>
                    </div>
                    <div class="text-center" style="border-top: 1px solid #e5e5e5; padding-top: 15px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
