{% load humanize %}

{% load filters %}
{% load security %}
{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <div class="text-center">
                            <h3>
                                <a href="{% url 'mog:contest_problems' contest.id %}" class="no-underline">
                                    {{ contest.name }}
                                </a>
                            </h3>

                            {% with instance=user|get_instance:contest %}
                                {% if instance %}
                                    {% if instance.is_running %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{ instance.percent }}%;"></div>
                                        </div>
                                        {% if instance.real %}
                                            {% if instance.is_death_time %}
                                                <h5>{% trans '(Death time)' %}</h5>
                                            {% elif instance.is_frozen_time %}
                                                <h5>{% trans '(Frozen time)' %}</h5>
                                            {% endif %}
                                        {% else %}
                                            <h5>{% trans '(Virtual)' %}</h5>
                                        {% endif %}
                                    {% elif instance.is_past %}
                                        <h5>{% trans 'Ended' %}</h5>
                                    {% elif instance.is_comming %}
                                        <h5>{% trans 'Coming' %}</h5>
                                    {% endif %}
                                {% else %}
                                    {% if contest.is_running %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{ contest.percent }}%;"></div>
                                        </div>
                                        {% if contest.is_death_time %}
                                            <h5>{% trans '(Death time)' %}</h5>
                                        {% elif contest.is_frozen_time %}
                                            <h5>{% trans '(Frozen time)' %}</h5>
                                        {% endif %}
                                    {% elif contest.is_past %}
                                        <h5>{% trans 'Ended' %}</h5>
                                    {% elif contest.is_comming %}
                                        <h5>{% trans 'Coming' %}</h5>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="{{ problems_active }}">
                                <a href="{% url 'mog:contest_problems' contest.id %}">
                                    <i class="glyphicon glyphicon-list-alt"></i> {% trans 'Problems' %}
                                </a>
                            </li>
                            <li class="{{ standings_active }}">
                                <a href="{% url 'mog:contest_standing' contest.id %}">
                                    <i class="glyphicon glyphicon-signal"></i> {% trans 'Standing' %}
                                </a>
                            </li>
                            <li class="{{ submissions_active }}">
                                <a href="{% url 'mog:contest_submissions' contest.id %}">
                                    <i class="glyphicon glyphicon-road"></i> {% trans 'Submissions' %}
                                </a>
                            </li>
                            <li class="{{ submit_active }}">
                                {% if problem %}
                                    <a href="{% url 'mog:submit' problem.id %}">
                                        <i class="glyphicon glyphicon-envelope"></i> {% trans 'Submit' %}
                                    </a>
                                {% else %}
                                    {% with problem=contest|first_problem %}
                                        <a href="{% url 'mog:submit' problem.id %}">
                                            <i class="glyphicon glyphicon-envelope"></i> {% trans 'Submit' %}
                                        </a>
                                    {% endwith %}
                                {% endif %}
                            </li>
                        </ul>
                    </td>
                </tr>
                {% if user|can_edit_contest:contest %}
                    <tr>
                        <td>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="{{ registration_active }}">
                                    <a href="{% url 'mog:contest_registration' contest.id %}">
                                        <i class="glyphicon glyphicon-check"></i> {% trans 'Registration' %}
                                    </a>
                                </li>

                                <li class="{{ edit_active }}">
                                    <a href="{% url 'mog:contest_edit' contest.id %}">
                                        <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit contest' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#remove-contest-{{ contest.id }}">
                                        <i class="glyphicon glyphicon-remove"></i> {% trans 'Remove Contest' %}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if user|can_edit_contest:contest %}
        <div class="modal fade" id="remove-contest-{{ contest.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% trans 'Remove Contest' %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">
                            {% trans 'If you remove this contest all submissions related with it will be removed too.' %}
                        </p>
                        <p class="text-center">
                            <span class="glyphicon glyphicon-warning-sign"
                                  style="color: orange; font-size: 50px; font-weight: normal;"></span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'mog:contest_remove' contest.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'No' %}</button>
                            <button type="submit" class="btn btn-primary">{% trans 'Yes' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>