{% load humanize %}

{% load filters %}
{% load security %}
{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <div class="text-center">
                            <h3>
                                <a href="{% url 'mog:contest_problems' contest.id %}" class="no-underline">
                                    {{ contest.name }}
                                </a>
                            </h3>

                            {% with instance=user|get_instance:contest %}
                                {% if instance %}
                                    {% if instance.is_running %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{ instance.percent }}%;"></div>
                                        </div>

                                        <h5 class="title">
                                            <span class="time-update" data-enabled="on" data-delta="+1" data-upper="{{ contest.duration.total_seconds }}">{{ instance.relative_time|format_seconds }}</span>
                                            /
                                            -<span class="time-update" data-enabled="on" data-delta="-1">{{ instance.remaining_time|format_seconds }}</span>
                                        </h5>

                                        {% if instance.real %}
                                            {% if instance.is_death_time %}
                                                <h5>{% trans '(Death time)' %}</h5>
                                            {% elif instance.is_frozen_time %}
                                                <h5>{% trans '(Frozen time)' %}</h5>
                                            {% endif %}
                                        {% else %}
                                            <h5>{% trans '(Virtual)' %}</h5>
                                        {% endif %}
                                    {% elif instance.is_past and instance.contest.needs_unfreeze%}
                                        <h5>{% trans 'Ended (Frozen)' %}</h5>
                                    {% elif instance.is_past %}
                                        <h5>{% trans 'Ended' %}</h5>
                                    {% elif instance.is_comming %}
                                        <h5>{% trans 'Coming' %}</h5>
                                    {% endif %}
                                {% else %}
                                    {% if contest.is_running %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{ contest.percent }}%;"></div>
                                        </div>

                                        <h5 class="title">
                                            <span class="time-update" data-enabled="on" data-delta="+1" data-upper="{{ contest.duration.total_seconds }}">{{ contest.relative_time|format_seconds }}</span>
                                            /
                                            -<span class="time-update" data-enabled="on" data-delta="-1">{{ contest.remaining_time|format_seconds }}</span>
                                        </h5>

                                        {% if contest.is_death_time %}
                                            <h5>{% trans '(Death time)' %}</h5>
                                        {% elif contest.is_frozen_time %}
                                            <h5>{% trans '(Frozen time)' %}</h5>
                                        {% endif %}
                                    {% elif contest.is_past and contest.needs_unfreeze %}
                                        <h5>{% trans 'Ended (Frozen)' %}</h5>
                                    {% elif contest.is_past %}
                                        <h5>{% trans 'Ended' %}</h5>
                                    {% elif contest.is_comming %}
                                        <h5>{% trans 'Coming' %}</h5>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="{{ overview_active }}">
                                <a href="{% url 'mog:contest_overview' contest.id %}">
                                    <i class="glyphicon glyphicon-info-sign"></i> {% trans 'Overview' %}
                                </a>
                            </li>
                            {% if user|can_see_contest:contest %}
                                <li class="{{ problems_active }}">
                                    <a href="{% url 'mog:contest_problems' contest.id %}">
                                        <i class="glyphicon glyphicon-list-alt"></i> {% trans 'Problems' %}
                                    </a>
                                </li>
                                <li class="{{ standings_active }}">
                                    <a href="{% url 'mog:contest_standing' contest.id %}?group=<all>">
                                        <i class="glyphicon glyphicon-signal"></i> {% trans 'Standing' %}
                                    </a>
                                </li>
                                <li class="{{ submissions_active }}">
                                    <a href="{% url 'mog:contest_submissions' contest.id %}">
                                        <i class="glyphicon glyphicon-road"></i> {% trans 'Submissions' %}
                                    </a>
                                </li>
                                <li class="{{ submit_active }}">
                                    {% if problem %}
                                        <a href="{% url 'mog:submit' problem.id %}">
                                            <i class="glyphicon glyphicon-envelope"></i> {% trans 'Submit' %}
                                        </a>
                                    {% else %}
                                        {% with problem=contest|first_problem %}
                                            {% if problem %}
                                                <a href="{% url 'mog:submit' problem.id %}">
                                                    <i class="glyphicon glyphicon-envelope"></i> {% trans 'Submit' %}
                                                </a>
                                            {% else %}
                                                <a href="#">
                                                    <i class="glyphicon glyphicon-envelope"></i> {% trans 'Submit' %}
                                                </a>
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </li>
                                <li class="{{ clarifications_active }}">
                                    <a href="{% url 'mog:contest_clarifications' contest.id %}">
                                        <i class="glyphicon glyphicon-question-sign"></i> {% trans 'Clarifications' %}
                                        {% if user.is_authenticated %}
                                            {% with uc=user|unseen_clarifications:contest %}
                                                {% if uc %}
                                                    <span class="badge pull-right" style="background-color: #cc0000;">{{ uc }}</span>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if contest.rated and contest.is_past%}
                                <li class="{{ rating_active }}">
                                    <a href="{% url 'mog:contest_ratings' contest.id %}">
                                        <i class="glyphicon glyphicon-sort"></i> {% trans 'Rating changes' %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if user|can_register_for_real:contest%}
                            <li>
                                <a class="" href="#" data-toggle="modal" data-target="#register-{{ contest.id }}">
                                    <i class="glyphicon glyphicon-log-in"></i> {% trans 'Register' %}
                                </a>
                                {% include 'mog/contest/_register.html' with contest=contest %}
                            </li>
                            {% elif user|registered_for_real:contest%}
                            <li>
                            {% if contest.closed %}
                                {% if contest.is_coming %}
                                    <br/>
                                    <p class="margin-bottom-0">→ {% trans 'You are registered' %}</p>
                                    <br/>
                                {% endif %}
                            {% else %}
                                <a class="" href="#" data-toggle="modal" data-target="#unregister-{{ contest.id }}">
                                    <i class="glyphicon glyphicon-log-out"></i> {% trans 'Unregister' %}
                                </a>
                                {% include 'mog/contest/_unregister.html' with contest=contest %}
                            {% endif %}
                            </li>
                            {% elif user|can_register_for_virtual:contest %}
                            <li>
                                <a class="" href="#" data-toggle="modal" data-target="#register-{{ contest.id }}">
                                    <i class="glyphicon glyphicon-log-in"></i> {% trans 'Virtual participation' %}
                                </a>
                                {% include 'mog/contest/_register.html' with contest=contest %}
                            </li>
                            {% elif  user|registered_for_virtual:contest%}
                            <li>
                                <a class="" href="#" data-toggle="modal" data-target="#unregister-{{ contest.id }}">
                                    <i class="glyphicon glyphicon-log-out"></i> {% trans 'Remove virtual participation' %}
                                </a>
                                {% include 'mog/contest/_unregister.html' with contest=contest %}
                            </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                {% if user|can_edit_contest:contest %}
                    <tr>
                        <td>
                            <ul class="nav nav-pills nav-stacked">
                                {% if user|can_edit_registration:contest %}
                                <li class="{{ registration_active }}">
                                    <a href="{% url 'mog:contest_registration' contest.id %}">
                                        <i class="glyphicon glyphicon-check"></i> {% trans 'Registration' %}
                                    </a>
                                </li>
                                {% endif %}
                                <li class="{{ edit_active }}">
                                    <a href="{% url 'mog:contest_edit' contest.id %}">
                                        <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit contest' %}
                                    </a>
                                </li>
                                {% if user|can_remove_contest:contest %}
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#remove-contest-{{ contest.id }}">
                                        <i class="glyphicon glyphicon-remove"></i> {% trans 'Remove Contest' %}
                                    </a>
                                </li>
                                {% endif %}
                                {% if user|can_manage_contest:contest %}
                                <li class="{{ manage_contest_active }}">
                                    <a href="{% url 'mog:contest_manage' contest.id %}">
                                        <i class="glyphicon glyphicon-import"></i> {% trans 'Import Teams' %}
                                    </a>
                                </li>
                                {% endif %}
                                {% if user|can_manage_contest:contest %}
                                <li class="{{ manage_permission_active }}">
                                    <a href="{% url 'mog:contest_permission' contest.id %}">
                                        <i class="glyphicon glyphicon-lock"></i> {% trans 'Manage Permissions' %}
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% if user|can_see_saris:contest %}
                    <tr>
                        <td>
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#saris-{{ contest.id }}">
                                        <i class="glyphicon glyphicon-star"></i> {% trans 'S4RiS' %}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if user|can_remove_contest:contest %}
        <div class="modal fade" id="remove-contest-{{ contest.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% trans 'Remove Contest' %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">
                            {% trans 'If you remove this contest all submissions related with it will be removed too.' %}
                        </p>
                        <p class="text-center">
                            <span class="glyphicon glyphicon-warning-sign"
                                  style="color: orange; font-size: 50px; font-weight: normal;"></span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'mog:contest_remove' contest.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'No' %}</button>
                            <button type="submit" class="btn btn-primary">{% trans 'Yes' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user|can_see_saris:contest %}
        <div class="modal fade" id="saris-{{ contest.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" style="width: 400px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% trans 'Show Saris' %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'mog:contest_saris' contest.id %}" method="post" target="_blank">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="group">{% trans 'Select group to show or download' %}</label>
                                <select id="group" name="group" class="form-control" onchange="changeDownloadUrl(this.value);">
                                    <option value="">-- All --</option>
                                    {% for group in contest.group_names %}
                                        {% if group %}
                                            <option value="{{ group }}">{{ group }}</option>
                                        {% endif%}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <a href="{% url 'mog:download_json_saris' contest.id %}?group=" id="download-json-saris" download>
                                    <i class="glyphicon glyphicon-download-alt"></i> Download JSON (This action may take some time)</a>
                            </div>
                            <div class="form-group">
                                <a href="https://neosaris.huronos.org/" target="_blank">
                                    <i class="glyphicon glyphicon-link"></i> Ir a neoSaris (S4RiS StanD JSON)</a>
                            </div>
                            <div class="text-center margin-top-25">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                <button type="submit" class="btn btn-primary">{% trans 'Show' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% block scripts %}
    <script>
        const downloadJson = document.getElementById("download-json-saris");
        function changeDownloadUrl(url) {
            downloadJson.setAttribute('href', "{% url 'mog:download_json_saris' contest.id %}?group=" + url)
        }
    </script>
{% endblock %}