{% load i18n %}
{% load security %}
{% load filters %}

<h3 class="title">{% trans 'Past Contests' %}</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans 'Contest' %}</th>
            <th class="text-center">{% trans 'Duration' %}</th>
            <th class="text-center">{% trans 'Start Date' %}</th>
            <th class="text-center">{% trans 'Registration' %}</th>
            <th class="text-center">{% trans 'Teams' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for contest in past_contests %}
            <tr>
                <td>
                    <a href="{% url 'mog:contest_problems' contest.id %}" class="no-underline">
                        {{ contest.name }}
                    </a>

                    {% if not contest.visible %}
                        {% trans '( Hidden )' %}
                    {% endif %}

                    {% if user|registered_for_real:contest %}
                        <p class="margin-bottom-0">→ {% trans 'Participated' %}</p>
                    {% elif user|can_register_for_virtual:contest %}
                        <p class="margin-bottom-0">
                            →<a class="btn btn-link margin-0 padding-0" href="#" data-toggle="modal"
                                data-target="#register-{{ contest.id }}">{% trans 'Virtual participation' %}</a>
                        </p>
                        {% include 'mog/contest/_register.html' with contest=contest %}
                    {% elif user|registered_for_virtual:contest %}
                        <p class="margin-bottom-0">
                            → <a class="btn btn-link margin-0 padding-0" href="#" data-toggle="modal"
                                 data-target="#unregister-{{ contest.id }}">{% trans 'Remove virtual participation' %}</a>
                        </p>
                        {% include 'mog/contest/_unregister.html' with contest=contest %}
                    {% endif %}
                </td>
                <td class="text-center">{{ contest.duration|format_delta }}</td>
                <td class="text-center">{{ contest.start_date }}</td>
                <td class="text-center">
                    {% if contest.closed %}
                        {% trans 'Closed' %}
                    {% else %}
                        {% trans 'Open' %}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if contest.allow_teams %}
                        {% trans 'Yes' %}
                    {% else %}
                        {% trans 'No' %}
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="5">{% trans 'No past contests!' %}</td></tr>
        {% endfor %}
    </tbody>
</table>