{% extends 'mog/base.html' %}

{% load static %}

{% block title %}Create contest{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Create contest</h3>
        </div>

        <div class="col-md-12">
            <form action="{% url 'mog:contest_create' %}" method="post">
                {% csrf_token %}
                {% include 'mog/includes/form.html' with form=form %}
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="{% url 'mog:index' %}" class="btn btn-lg btn-default btn-block">Cancel</a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.7/summernote.min.css" integrity="sha256-LtkRmRit98lUHXAO6AkQ740CIP8xLrzmSMW+weZj/Ys=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" integrity="sha256-VBrFgheoreGl4pKmWgZh3J23pJrhNlSUOBek+8Z2Gv0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.7/summernote.min.js" integrity="sha256-h14wZWLJSYljixnsAiegAH/D/hSC9DLl55Jd3+PQSBM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('#id_start_date, #id_end_date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>
{% endblock %}
