{% extends 'mog/base.html' %}

{% load static %}
{% load filters %}
{% load i18n %}
{% load security %}

{% block title %}{{ contest.name }} | {% trans 'Manage Contest Baylor' %}{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=contest manage_baylor_active='active' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title margin-bottom-20">
                        {% trans 'Manage Contest Baylor' %}
                        {% include 'mog/contest/_actions.html' with contest=contest%}
                    </h3>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="well bckg-white">
                        <h5 class="well-title">Import Baylor</h5>
                        <form action="{% url 'mog:manage_baylor' contest.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'mog/includes/form.html' with form=form_import %}
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8">
                                    <button class="btn btn-primary btn-block" type="submit">Import</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="well bckg-white">
                        <h5 class="well-title">Export Baylor</h5>
                        <form action="{% url 'mog:manage_baylor' contest.id %}" method="post">
                            {% csrf_token %}
                            {% include 'mog/includes/form.html' with form=form_export %}
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8">
                                    <button class="btn btn-primary btn-block" type="submit">Export CSV</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}