{% extends 'mog/base.html' %}

{% load filters %}
{% load i18n %}
{% load security %}

{% block title %}{{ contest.name }} | {% trans 'Problems' %}{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=contest problems_active='active' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title margin-bottom-20">
                        {% trans 'Problems' %}
                        {% if not contest.allow_teams %}
                            {% if contest.rated %}
                                (<small>{% trans 'Rated' %}</small>)
                            {% else %}
                                (<small>{% trans 'Unrated' %}</small>)
                            {% endif %}
                        {% endif %}
                        {% if user|can_edit_contest:contest %}
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                    {% trans 'Actions' %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <form id="rate_contest_form" action="{% url 'mog:rate_contest' contest.id %}"
                                              method="post">
                                            {% csrf_token %}
                                        </form>
                                        <a href="javascript:;" onclick="$('#rate_contest_form').submit();">Rate
                                            contest</a>
                                    </li>
                                    <li>
                                        <form id="force_rate_contest_form"
                                              action="{% url 'mog:rate_contest' contest.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="force_rate" value="on"/>
                                        </form>
                                        <a href="javascript:;" onclick="$('#force_rate_contest_form').submit();">Force
                                            rate
                                            contest</a>
                                    </li>
                                    <li>
                                        <form id="unrate_contest_form"
                                              action="{% url 'mog:unrate_contest' contest.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="force_rate" value="on"/>
                                        </form>
                                        <a href="javascript:;" onclick="$('#unrate_contest_form').submit();">Unrate
                                            contest</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Get CVS</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </h3>
                </div>

                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="cell-problem-letter"></th>
                            <th>{% trans 'Problem' %}</th>
                            <th class="cell-small">{% trans 'Solved' %}</th>
                            <th class="cell-small">{% trans 'PDF' %}</th>
                            <th class="cell-small">{% trans 'Submit' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for problem in problems %}
                            {# TODO: Add problem solved here & balloons #}
                            <tr class="">
                                <td class="text-center">
                                    <a href="{% url 'mog:problem' problem.id problem.slug %}">{{ problem.letter }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'mog:problem' problem.id problem.slug %}">{{ problem.title }}</a>
                                </td>
                                {# TODO: Check wheter the property below has a link in MOG! #}
                                <td class="text-center">
                                    {{ problem.solved_in_real }}
                                </td>
                                <td class="text-center">
                                    <a href="#"><i class="glyphicon glyphicon-file"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'mog:submit' problem.id %}"><i
                                            class="glyphicon glyphicon-envelope"></i></a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">{% trans 'No problems included yet!' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    {% if contest.description %}
                        <div class="col-md-12">
                            <h3 class="uniform-text uniform-big">{% trans 'Description' %}</h3>
                            <div class="well bckg-white">
                                <p>{{ contest.description|safe }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
