{% extends 'mog/base.html' %}

{% load static %}
{% load filters %}
{% load i18n %}
{% load security %}

{% block title %}{{ contest.name }} | {% trans 'Problems' %}{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=contest problems_active='active' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title margin-bottom-20">
                        {% trans 'Problems' %}
                        {% include 'mog/contest/_actions.html' with contest=contest%}
                    </h3>
                </div>

                {% if can_create_problem %}
                    <a href="{% url 'mog:contest_create_problem' contest.id %}" class="btn btn-link pull-left no-underline">
                        <i class="glyphicon glyphicon-pencil"></i> {% trans 'Create problem' %}
                    </a>
                {% endif %}

                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="cell-problem-letter"></th>
                            <th>{% trans 'Problem' %}</th>
                            <th class="cell-small">{% trans 'Solved' %}</th>
                            <th class="cell-small">{% trans 'Submit' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for problem in problems %}
                            {% with instance=user|get_instance:contest%}
                                {% if instance|has_solved_problem:problem %}
                                    <tr class="success">
                                {% elif instance|has_failed_problem:problem %}
                                    <tr class="danger">
                                {% else %}
                                    <tr class="">
                                {% endif %}

                                <th class="text-center cell-medium">
                                    <a href="{% url 'mog:problem' problem.id problem.slug %}"
                                       {% if problem.balloon and problem.balloon.0 == '#' %}
                                           style="padding: 10px; color: {{ problem.letter_color }}; background: no-repeat center/25px url('data:image/svg+xml;utf8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 17.5 20.2&quot;><path fill=&quot; {{ problem.balloon|urlencode }} &quot; d=&quot;M17.5 8.3c0 6-8.7 11.8-8.7 11.8S0 14.3 0 8.3C0 3.7 3.9 0 8.7 0S17.5 3.7 17.5 8.3z&quot;/></svg>');"
                                       {% endif %}
                                    >
                                        {{ problem.letter }}
                                    </a>
                                </th>
                                <td>
                                    <a href="{% url 'mog:problem' problem.id problem.slug %}">{{ problem.title }}</a>
                                </td>
                                {# TODO: Check wheter the property below has a link in MOG! #}
                                <td class="text-center">
                                    {{ problem|total_solved_relevant_for_instance:instance}}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'mog:submit' problem.id %}"><i
                                            class="glyphicon glyphicon-envelope"></i></a>
                                </td>
                            </tr>
                            {% endwith %}
                        {% empty %}
                            <tr>
                                <td colspan="5">{% trans 'No problems included yet!' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
