{% extends 'mog/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ contest.name }} | {% trans 'Registration' %}{% endblock %}

{% block styles %}
    <link href="{% static 'mog/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/jquery.tokeninput/css/token-input.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/jquery.tokeninput/css/token-input-facebook.css' %}" rel="stylesheet"/>
    <style>
        .instance-info {
            display: flex;
            gap: 5px;
        }
        .instance-info-last-login {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 20px;
        }
        .instance-info-team {
            flex: auto;
        }
        .instance-info-team-profiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 10px;
        }
        .instance-info-user {
            flex: auto;
        }
        .instance-info-submissions {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 30px;
        }
        .instance-info-last-login .not-logged {
            color: #dd2828;
        }        
        .instance-info-last-login .logged {
            color: #2da529;
        }
        .instance-action {
            display: flex;
            gap: 5px;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=contest registration_active='active' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title margin-bottom-20">{% trans 'Registration' %}</h3>
                </div>
                {% block loading %}
                    <div class="col-md-12">
                        {% include 'mog/contest/_loading.html' %}
                    </div>
                {% endblock %}
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12 {% if contest.allow_teams %}col-lg-6{% endif %}">
                            <div class="well bckg-white">
                                <h5 class="well-title">{% trans 'Register users' %}</h3>
                                <form action="{% url 'mog:contest_register_multiple_users' contest.id %}" method="post" class="show-loading-after-submit">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{% url 'mog:contest_registration' contest.id %}"/>
                                    <div class="form-group">
                                        <label for="user-group" class="">{% trans 'Group' %}</label>
                                        <select class="select2 team-import" name="user-group" style="width: 100%;">
                                            <option value="{{ contest.group|default_if_none:'' }}">
                                                {{ contest.group|default_if_none:'-----' }}
                                            </option>
                                        </select>
                                        <small class="form-help-text">By default it will use [{% if contest.group %} {{ contest.group }} {% else %} None {% endif %}]</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="user-members" class="">{% trans 'Users' %}</label>
                                        <input id="user-members" name="user-members" class="form-control">
                                        <small class="form-help-text">You can find user by: <i>username, firstname and lastname</i></small>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-7">
                                            <button class="btn btn-primary btn-block form-control" type="submit">{% trans 'Register Users' %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% if contest.allow_teams %}
                            <div class="col-sm-12 col-lg-6">
                                <div class="well bckg-white">
                                    <h5 class="well-title">{% trans 'Register teams' %}</h3>
                                    <form action="{% url 'mog:contest_register_multiple_teams' contest.id %}" method="post" class="show-loading-after-submit">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{% url 'mog:contest_registration' contest.id %}"/>
                                        <div class="form-group">
                                            <label for="team-group" class="">{% trans 'Group' %}</label>
                                            <select class="select2 team-import" name="team-group" style="width: 100%;">
                                                <option value="{{ contest.group|default_if_none:'' }}">
                                                    {{ contest.group|default_if_none:'-----' }}
                                                </option>
                                            </select>
                                            <small class="form-help-text">By default it will use [{% if contest.group %} {{ contest.group }} {% else %} None {% endif %}]</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="team-members" class="">{% trans 'Teams' %}</label>
                                            <input id="team-members" name="team-members" class="form-control">
                                            <small class="form-help-text">You can find team by: <i>name, description, and institution</i></small>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-7">
                                                <button class="btn btn-primary btn-block form-control" type="submit">{% trans 'Register Teams' %}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12">
                    <form action="{% url 'mog:contest_remove_registration_mulitple' contest.id %}" method="POST" id="unregister-selected-form" class="margin-bottom-20 margin-left-10 pull-right show-loading-after-submit-no-confirm">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'mog:contest_registration' contest.id %}"/>
                        <input type="hidden" id="instances-unregister-selected" name="instances-unregister-selected"/>
                        <button class="btn btn-sm" type="submit">{% trans 'Unregister all selected' %}</button>
                    </form>
                    {% include 'mog/contest/_edit_group_modal.html' with contest=contest %}
                    <div class="margin-bottom-20 margin-left-10 pull-right">
                        <button class="btn btn-sm" data-toggle="modal" data-target="#edit-group-selected-{{ contest.id }}">{% trans 'Edit Group all selected' %}</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center cell-small"></th>
                            <th class="text-center cell-medium" style="width: 50%;">{% trans "User/Team" %}</th>
                            <th class="text-center cell-medium" style="width: 30%;">{% trans "Group" %}</th>
                            <th class="text-center cell-small">{% trans "Action" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for instance in instances %}
                            <tr class="text-center">
                                <td>
                                    <input id="select" class="instance-select" data-instance-pk="{{ instance.pk }}" type="checkbox">
                                </td>
                                <td>
                                    <div class="instance-info" data-instance-pk="{{ instance.pk }}">
                                        <div class="instance-info-last-login"></div>
                                        {% if instance.team %}
                                            <div class="instance-info-team">
                                                <div class="instance-info-name">
                                                    {% if instance.team.institution.name %}
                                                        <a
                                                            style="text-decoration:none; color: black;"
                                                            data-html="true"
                                                            data-toggle="tooltip"
                                                            title=""
                                                            data-placement="right"
                                                            data-original-title="{{instance.team.institution.name}}">
                                                                <strong>{{ instance.team.name }}</strong>
                                                        </a>
                                                    {% else %}
                                                        <strong>{{ instance.team.name }}</strong>
                                                    {% endif %}
                                                </div>
                                                <div class="instance-info-team-profiles"></div>
                                            </div>
                                        {% else %}
                                            <div class="instance-info-user">
                                                <strong>
                                                    <a class="user" style="color: black;">{{ instance.user.username }}</a>
                                                </strong>
                                            </div>
                                        {% endif %}
                                        <div class="instance-info-submissions">
                                            {% with instance.submissions.count as submissions %}
                                                {% if submissions > 0 %}
                                                    <span 
                                                        title="The {% if instance.team %}team{% else %}user{% endif %} have {{ submissions }} submission{% if submissions > 1 %}s{% endif %}"
                                                        class="badge badge-info">
                                                            {{ submissions }}
                                                    </span>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="select2 contest-instance" style="width: 100%;"
                                            data-url-edit="{% url "mog:api_instance_edit_group" instance.pk %}">
                                        <option value="{{ instance.group|default_if_none:'' }}">
                                            {{ instance.group|default_if_none:'-----' }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <div class="instance-action" data-instance-pk="{{ instance.pk }}">
                                        {% if instance.team %}
                                        <div>
                                            {% include 'mog/contest/_edit_instance_team_modal.html' with instance=instance %}
                                            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#edit-instance-{{ instance.id }}">{% trans 'Edit' %}</button>
                                        </div>
                                        {% else %}
                                        <div>
                                            {% include 'mog/contest/_edit_instance_user_modal.html' with instance=instance %}
                                            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#edit-instance-{{ instance.id }}">{% trans 'Edit' %}</button>
                                        </div>
                                        {% endif %}
                                        <form action="{% url 'mog:api_instance_edit_active' instance.id %}" method="post" class="show-loading-after-submit-confirm">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{% url 'mog:contest_registration' contest.id %}"/>
                                            <input type="checkbox" name="is_active" class="instance-is-active-input" hidden/>
                                            <input type="submit" class="btn btn-sm btn-default instance-is-active-button" value="{% trans 'Disable' %}"/>
                                        </form>
                                        <form action="{% url 'mog:contest_remove_instance' instance.id %}" method="post" class="show-loading-after-submit-confirm">
                                            {% csrf_token %}
                                            <input type="hidden" name="next"
                                                   value="{% url 'mog:contest_registration' contest.id %}"/>
                                            <input type="submit" class="btn btn-sm btn-default"
                                                   value="{% trans 'Unregister' %}"/>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function() {
            $('.show-loading-after-submit').each(function(id, el) {
                $(el).on('submit', function(e) {
                    if(confirm("Are you sure you want to import these Users/Teams?")) {
                        $('#loading-on-submit').css('display', 'block');
                    }
                    else {
                        e.preventDefault();
                    }
                });
            });
            $('.show-loading-after-submit-confirm').each(function(id, el) {
                $(el).on('submit', function(e) {
                    if(confirm("Are you sure you want to do this opearation?")) {
                        $('#loading-on-submit').css('display', 'block');
                    }
                    else {
                        e.preventDefault();
                    }
                });
            });
            $('.show-loading-after-submit-no-confirm').each(function(id, el) {
                $(el).on('submit', function(e) {
                    $('#loading-on-submit').css('display', 'block');
                });
            });
        });
    </script>

    <script src="{% static 'mog/plugins/select2/js/select2.full.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.select2.contest-instance').select2({
                tags: true,
                closeOnSelect: true,
                ajax: {
                    url: "{% url 'mog:api_instance_group_list' %}",
                    dataType: 'json',
                    processResults: function (response, params) {
                        return {
                            results: response.data.map(function (group) {
                                return {
                                    id: group, text: group
                                }
                            })
                        }
                    }
                }
            }).on("select2:select", function(e) {
                $.post($(e.target).data('url-edit'), {group: $(e.target).val()})
                    .done(function(response) {
                        if (!response.success)
                            alert(response.message);
                    })
                    .fail(function() {
                        alert('some error ocurrs!');
                    })
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.select2.team-import, .select2.selected-group, .select2.contest-instance-group').select2({
                tags: true,
                closeOnSelect: true,
                ajax: {
                    url: "{% url 'mog:api_instance_group_list' %}",
                    dataType: 'json',
                    processResults: function (response, params) {
                        return {
                            results: response.data.map(function (group) {
                                return {
                                    id: group, text: group
                                }
                            })
                        }
                    }
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.select2.contest-instance-institution').select2({
                tags: true,
                closeOnSelect: true,
                ajax: {
                    url: "{% url 'mog:api_institution_list' %}",
                    dataType: 'json',
                    processResults: function (response, params) {
                        return {
                            results: response.data.map(function (institution) {
                                return {
                                    id: institution.id, text: institution.name
                                }
                            })
                        }
                    }
                }
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'mog/plugins/jquery.tokeninput/js/jquery.tokeninput.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#user-members').tokenInput('{% url "mog:users_json" %}', {
                theme: 'facebook',
                noResultsText: 'No user found!',
                searchingText: 'Searching...',
                deleteText: "&#x2603;",
                propertyToSearch: "username",
                preventDuplicates: true,
                zindex: 11001,
                resultsFormatter: function(item){
                    var html = [
                            '<li>',
                            '    <img src="' + item.url + '" height="25px" width="25px" />',
                            '    <div style="display: inline-block; padding-left: 10px;">',
                            '        <div>',
                            '            <div class="username">',
                            '                ' + item.username,
                            '            </div>',
                            '            <div class="full_name">',
                            '                ' + item.first_name + ' ' + item.last_name,
                            '            </div>',
                            '        </div>',
                            '    </div>',
                            '</li>'
                    ];
                    return html.join('');
                },
                tokenFormatter: function(item) {
                    return '<li><p>' + item.username + '</p></li>';
                }
            });
            $('#team-members').tokenInput('{% url "mog:teams_json" %}', {
                theme: 'facebook',
                noResultsText: 'No team found!',
                searchingText: 'Searching...',
                deleteText: "&#x2603;",
                propertyToSearch: "name",
                preventDuplicates: true,
                zindex: 11001,
                resultsFormatter: function(item){
                    var html = [
                            '<li>',
                            '    <div style="display: inline-block; padding-left: 10px;">',
                            '        <div>',
                            '            <div class="user">',
                            '                ' + item.name,
                            '            </div>',
                            '            <div class="description">',
                            '                ' + item.description,
                            '            </div>',
                            '            <div class="institution">',
                            '                ' + item.institution + ' (' + item.country + ')',
                            '            </div>',
                            '        </div>',
                            '    </div>',
                            '</li>'
                    ];
                    return html.join('');
                },
                tokenFormatter: function(item) {
                    return '<li><p>' + item.name + '</p></li>';
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'mog:contest_instances_info' contest.pk %}",
                context: this,
                success: function (response) {
                    const data = response.data;
                    $('.instance-info').each(function() {
                        const instance_pk = $(this).data('instance-pk');
                        const instance = data[instance_pk];
                        const {team, user} = instance;
                        const $last_login = $(this).find('.instance-info-last-login');
                        let last_login = '<i title="Never logged in" class="glyphicon glyphicon-warning-sign not-logged"></i>';
                        if(team) {
                            if(team.last_login) {
                                last_login = '<i title="Last login: ' + team.last_login + '" class="glyphicon glyphicon-flash logged"></i>';
                            }
                            $last_login.append(last_login);
                            const $teamProfiles = $(this).find('.instance-info-team-profiles')
                            const profiles = [];
                            for(const profile of team.profiles) {
                                $teamProfiles.append('<strong><a class="user" href="/user/' + profile.id + '" style="color: ' + profile.rating_color + ';">' + profile.username + '</a></strong>');
                            }
                        }
                        else if (user) {
                            if(user.last_login)
                                last_login = '<i title="Last login: ' + user.last_login + '" class="glyphicon glyphicon-flash logged"></i>';
                            $last_login.prepend(last_login);
                            const $user = $(this).find('.instance-info-user a.user')
                            $user.css("color", user.rating_color).attr("href", "/user/" + user.id);
                        }
                    });
                    $('.instance-action').each(function() {
                        const instance_pk = $(this).data('instance-pk');
                        const instance = data[instance_pk];
                        const {team, user} = instance;
                        const $instance_edit_form_active = $(this).find('.instance-edit-form-active');
                        const $instance_is_active_input = $(this).find('.instance-is-active-input');
                        const $instance_is_active_button = $(this).find('.instance-is-active-button');
                        const is_active = team ? team.is_active : user ? user.is_active : false;
                        if(is_active) {
                            $instance_is_active_button.val("{% trans 'Disable' %}");
                        }
                        else {
                            $instance_is_active_button.val("{% trans 'Enable' %}");
                        }
                        $instance_is_active_input.prop('checked', !is_active);
                        $instance_edit_form_active.prop('checked', is_active);
                    });
                }
            });
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#unregister-selected-form").on('submit', function(e) {
                if(confirm("Are you sure you want to un-register these Users/Teams?")) {
                    const instances_selected = [];
                    $(".instance-select").each(function() {
                        const instance_pk = $(this).data("instance-pk");
                        const checked = $(this).is(':checked');
                        if(checked) {
                            instances_selected.push(instance_pk);
                        }
                    });
                    $('#instances-unregister-selected').val(instances_selected.join(','));
                }
                else {
                    e.preventDefault();
                }
            });

            $("#edit-group-selected-form").on('submit', function(e) {
                const instances_selected = [];
                $(".instance-select").each(function() {
                    const instance_pk = $(this).data("instance-pk");
                    const checked = $(this).is(':checked');
                    if(checked) {
                        instances_selected.push(instance_pk);
                    }
                });
                $('#instances-group-selected').val(instances_selected.join(','));
            });
        });
    </script>
{% endblock %}