{% extends 'mog/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ contest.name }} | {% trans 'Registration' %}{% endblock %}

{% block styles %}
    <link href="{% static 'mog/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/jquery.tokeninput/css/token-input.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/jquery.tokeninput/css/token-input-facebook.css' %}" rel="stylesheet"/>
{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=contest registration_active='active' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title margin-bottom-20">{% trans 'Registration' %}</h3>
                </div>

                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center cell-medium">{% trans "User/Team" %}</th>
                            <th class="text-center cell-medium">{% trans "Description only" %}</th>
                            <th class="text-center cell-medium">{% trans "Group" %}</th>
                            <th class="text-center cell-small">{% trans "Action" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for instance in instances %}
                            <tr class="text-center">
                                <td class="instance-info" data-instance-pk="{{ instance.pk }}">
                                    {% if instance.team %}
                                        {% if instance.team.institution.name %}
                                            <a
                                                style="text-decoration:none; color: black;"
                                                data-html="true"
                                                data-toggle="tooltip"
                                                title=""
                                                data-placement="right"
                                                data-original-title="{{instance.team.institution.name}}">
                                                    <strong>{{ instance.team.name }}</strong>
                                            </a>
                                        {% else %}
                                            <strong>{{ instance.team.name }}</strong>
                                        {% endif %}
                                    {% else %}
                                        <strong>
                                            <a class="user" style="color: black;">{{ instance.user.username }}</a>
                                        </strong>
                                    {% endif %}
                                </td>
                                <td>
                                <form action="{% url 'mog:api_instance_edit_render_description' instance.pk %}" method="POST">
                                    <input id="render_team_description_only" type="checkbox" name="render_team_description_only"
                                           onclick="$(this).closest('form').submit();"
                                           {% if instance.render_team_description_only %}checked="checked"{% endif %}>
                                </form>
                                </td>
                                <td>
                                    <select class="select2" style="width: 100%;"
                                            data-url-edit="{% url "mog:api_instance_edit_group" instance.pk %}">
                                        <option value="{{ instance.group|default_if_none:'' }}">
                                            {{ instance.group|default_if_none:'-----' }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <form action="{% url 'mog:contest_remove_instance' instance.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next"
                                               value="{% url 'mog:contest_registration' contest.id %}"/>
                                        <input type="submit" class="btn btn-sm btn-default"
                                               value="{% trans 'Unregister' %}"/>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title margin-bottom-20">{% trans 'Register user' %}</h3>
                    <form action="{% url 'mog:contest_register_multiple_users' contest.id %}" method="post" class="well">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'mog:contest_registration' contest.id %}"/>
                        <div class="form-group">
                            <label for="user-members" class="sr-only">{% trans 'Users' %}</label>
                            <input id="user-members" name="user-members" class="form-control">
                        </div>
                        <input type="submit" value="{% trans 'Register' %}" class="form-control"/>
                    </form>
                </div>

                {% if contest.allow_teams %}
                    <div class="col-md-6">
                        <h3 class="title margin-bottom-20">{% trans 'Register team' %}</h3>
                        <form action="{% url 'mog:contest_register_multiple_teams' contest.id %}" method="post" class="well">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url 'mog:contest_registration' contest.id %}"/>
                            <div class="form-group">
                                <label for="team-members" class="sr-only">{% trans 'Teams' %}</label>
                                <input id="team-members" name="team-members" class="form-control">
                            </div>
                            <input type="submit" value="{% trans 'Register' %}" class="form-control"/>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'mog/plugins/select2/js/select2.full.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.select2').select2({
                tags: true,
                closeOnSelect: true,
                ajax: {
                    url: "{% url 'mog:api_instance_group_list' %}",
                    dataType: 'json',
                    processResults: function (response, params) {
                        return {
                            results: response.data.map(function (group) {
                                return {
                                    id: group, text: group
                                }
                            })
                        }
                    }
                }
            }).on("select2:select", function(e) {
                $.post($(e.target).data('url-edit'), {group: $(e.target).val()})
                    .done(function(response) {
                        if (!response.success)
                            alert(response.message);
                    })
                    .fail(function() {
                        alert('some error ocurrs!');
                    })
            });
        });
    </script>

    <script type="text/javascript" src="{% static 'mog/plugins/jquery.tokeninput/js/jquery.tokeninput.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#user-members').tokenInput('{% url "mog:users_json" %}', {
                theme: 'facebook',
                noResultsText: 'No user found!',
                searchingText: 'Searching...',
                deleteText: "&#x2603;",
                propertyToSearch: "username",
                preventDuplicates: true,
                zindex: 11001,
                resultsFormatter: function(item){
                    var html = [
                            '<li>',
                            '    <img src="' + item.url + '" height="25px" width="25px" />',
                            '    <div style="display: inline-block; padding-left: 10px;">',
                            '        <div>',
                            '            <div class="username">',
                            '                ' + item.username,
                            '            </div>',
                            '            <div class="full_name">',
                            '                ' + item.first_name + ' ' + item.last_name,
                            '            </div>',
                            '        </div>',
                            '    </div>',
                            '</li>'
                    ];
                    return html.join('');
                },
                tokenFormatter: function(item) {
                    return '<li><p>' + item.username + '</p></li>';
                }
            });
            $('#team-members').tokenInput('{% url "mog:teams_json" %}', {
                theme: 'facebook',
                noResultsText: 'No team found!',
                searchingText: 'Searching...',
                deleteText: "&#x2603;",
                propertyToSearch: "name",
                preventDuplicates: true,
                zindex: 11001,
                resultsFormatter: function(item){
                    var html = [
                            '<li>',
                            '    <div style="display: inline-block; padding-left: 10px;">',
                            '        <div>',
                            '            <div class="user">',
                            '                ' + item.name,
                            '            </div>',
                            '            <div class="description">',
                            '                ' + item.description,
                            '            </div>',
                            '            <div class="institution">',
                            '                ' + item.institution + ' (' + item.country + ')',
                            '            </div>',
                            '        </div>',
                            '    </div>',
                            '</li>'
                    ];
                    return html.join('');
                },
                tokenFormatter: function(item) {
                    return '<li><p>' + item.name + '</p></li>';
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'mog:contest_instances_info' contest.pk %}",
                context: this,
                success: function (response) {
                    const data = response.data;
                    $('.instance-info').each(function() {
                        const instance_pk = $(this).data('instance-pk');
                        const instance = data[instance_pk];
                        const {team, user} = instance;
                        let last_login = '<i title="Never logged in" class="glyphicon glyphicon-warning-sign not-logged"></i>';
                        if(team) {
                            if(team.last_login)
                                last_login = '<i title="Last login: ' + team.last_login + '" class="glyphicon glyphicon-flash logged"></i>';
                            $(this).prepend(last_login);
                            const profiles = [];
                            for(const profile of team.profiles) {
                                profiles.push('<strong><a class="user" href="/user/' + profile.id + '" style="color: ' + profile.rating_color + ';">' + profile.username + '</a></strong>');
                            }
                            $(this).append('<div>' + profiles.join(' , ') + '<div>');
                        }
                        else {
                            if(user.last_login)
                                last_login = '<i title="Last login: ' + user.last_login + '" class="glyphicon glyphicon-flash logged"></i>';
                            $(this).prepend(last_login);
                            const $user = $(this).find('.user')
                            $user.css("color", user.rating_color).attr("href", "/user/" + user.id);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}