{% extends 'mog/base.html' %}

{% load filters %}
{% load humanize %}

{% block title %}{{ contest.name }} | Standing{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title">Standing</h1>
            <h3 class="title"><a href="{% url 'mog:contest_problems' contest.pk %}">{{ contest.name }}</a></h3>
            {% if user_instance %}
                {% if user_instance.is_running %}
                    <h5 class="title">
                        {{ user_instance.relative_time|format_seconds }} / -{{ user_instance.remaining_time|format_seconds }}
                    </h5>
                    {% if not user_instance.real %}
                        <h5>(virtual)</h5>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if contest.is_running %}
                    <h5 class="title">
                        <span class="time-update" data-enabled="on" data-delta="+1" data-upper="{{ contest.duration.seconds }}">{{ contest.relative_time|format_seconds }}</span>
                        /
                        -<span class="time-update" data-enabled="on" data-delta="-1">{{ contest.remaining_time|format_seconds }}</span>
                    </h5>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="cell-small">Rank</th>
                        <th>Contestant / Team</th>
                        <th class="text-center cell-small">Solved</th>
                        <th class="text-center cell-small">Penalty</th>
                        {% for problem in problems %}
                            <th class="text-center cell-medium">
                                <a href="{% url 'mog:problem' problem.id problem.slug %}">{{ problem.letter }}</a>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for instance_result in instance_results %}
                        {% with instance=instance_result.instance %}
                            <tr class="standing-row">
                                <td class="text-center">{{ instance_result.rank }}</td>
                                <td>
                                    <div style="min-height: 45px;">
                                        {% if not instance.real %}
                                            (~)
                                        {% endif %}

                                        {% if instance.team %}
                                            {% include 'mog/team/_link.html' with team=instance.team %}
                                            {% with institution=instance.team.institution %}
                                                {% if institution %}
                                                    <small>{{ institution.name }}</small>
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            {% include 'mog/user/_link.html' with user=instance.user %}
                                            {% with institution=instance.user.profile.institution %}
                                                {% if institution %}
                                                    <p><small>{{ institution.name }}</small></p>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                </td>

                                <td class="text-center">{{ instance_result.solved }}</td>

                                <td class="text-center">
                                    {{ instance_result.penalty|format_penalty }}
                                </td>

                                {% for problem_result in instance_result.problem_results %}
                                    {% if problem_result.accepted %}
                                        {% if problem_result.first_all %}
                                            <td class="text-center contest-solved-first">
                                        {% elif problem_result.first %}
                                            <td class="text-center problem-solved-first">
                                        {% else %}
                                            <td class="text-center problem-solved">
                                        {% endif %}
                                    {% elif problem_result.attempts > 0 %}
                                        <td class="text-center problem-failed">
                                    {% else %}
                                        <td class="text-center">
                                    {% endif %}
                                            {% if problem_result.accepted %}
                                                <div>
                                                    {{ problem_result.acc_delta|format_minutes }}
                                                </div>
                                            {% endif %}
                                            {% if problem_result.attempts > 0 %}
                                                <small>(-{{ problem_result.attempts }})</small>
                                            {% endif %}
                                        </td>
                                {% endfor %}
                            </tr>
                        {% endwith %}
                    {% empty %}
                        <tr><td colspan="{{ problems|length|add:2 }}">No one registered for this contest!</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <form action="{% url 'mog:contest_standing' contest.pk %}" method="get" style="margin-left: 20px !important;">
                <div class="checkbox">
                    <input id="show_virtual" type="checkbox" name="show_virtual"
                           onclick="$(this).closest('form').submit();" {% if show_virtual %}checked="checked"{% endif %}>
                    <label for="show_virtual">Show virtual participations (~)</label>
                </div>
            </form>
        </div>
    </div>
{% endblock %}