{% extends 'mog/base.html' %}

{% load security %}
{% load filters %}

{% block title %}{{ problem.title }} | Edit Test{% endblock %}

{% block styles  %}
    <style>
        #content {
            font-size: 16px;
            font-family: "Courier New", courier, monospace;
            background-color: #eeeeee;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="title">Edit Test Case</h1>
                <h3 class="title">
                    <a href="{% url 'mog:problem' problem.id problem.slug %}">{{ problem.title }}</a>
                </h3>
                <h5>{{ folder }} / {{ test }}</h5>
            </div>
        </div>

        <div class="col-md-12">
            <form action="{% url 'mog:edit_test' problem.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="folder" value="{{ folder }}"/>
                <input type="hidden" name="test" value="{{ test }}"/>
                <div class="form-group">
                    <label for="content"></label>
                    <textarea id="content" name="content" class="form-control" rows="20">{{ content }}</textarea>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a type="button" class="btn btn-default"
                               href="{% url 'mog:problem_tests' problem.id %}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
