{% load i18n %}
{% load security %}
{% load filters %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center cell-small">Id</th>
            <th class="text-center">{% trans 'Date'%}</th>
            <th class="text-center">{% trans 'User' %}</th>
            <th class="text-center">{% trans 'Problem' %}</th>
            <th class="text-center">{% trans 'Result' %}</th>
            <th class="text-center">{% trans 'Time' %}</th>
            <th class="text-center">{% trans 'Mem' %}</th>
            <th class="text-center">{% trans 'Lang' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
            {% if user == submission.user %}
                <tr class="info">
            {% else %}
                <tr>
            {% endif %}
            {% with show_source=user|can_see_code_of:submission %}
                {% with show_details=user|can_see_details_of:submission %}
                    <td class="text-center">
                        <small>
                            {% if show_source %}
                                <a href="{% url 'mog:submission' submission.id %}" class="no-underline">{{ submission.id }}</a>
                            {% else %}
                                {{ submission.id }}
                            {% endif %}
                            {% if user|can_rejudge:submission %}
                                <form action="{% url 'mog:submission_rejudge' submission.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ submission.id }}">
                                    <a href="javascript:;" onclick="this.parentNode.submit();">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </a>
                                </form>
                            {% endif %}
                        </small>
                    </td>
                    <td class="text-center">
                        <small>{{ submission.date|date:"d/m/Y G:i:s"}}</small>
                    </td>
                    <td class="text-center">
                        {% include 'mog/user/_link.html' with user=submission.user %}
                    </td>
                    <td>
                        <a href="{% url 'mog:problem' submission.problem.id submission.problem.slug %}"
                           class="no-underline">{{ submission.problem.full_title }}</a>
                        {% if submission.hidden %}
                            (Hidden)
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if show_details %}
                            {% include 'mog/result/_colorized.html' with result=submission.result %}
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <small>
                            {% if show_details %}
                                {{ submission.execution_time }}
                            {% else %}
                                -----
                            {% endif %}
                        </small>
                    </td>
                    <td class="text-center">
                        <small>
                            {% if show_details %}
                                {{ submission.memory_used|format_memory }}
                            {% else %}
                                -----
                            {% endif %}
                        </small>
                    </td>
                    <td class="text-center">
                        <small>
                            {{ submission.compiler.name }}
                        </small>
                    </td>
                {% endwith %}
            {% endwith %}
            </tr>
        {% empty %}
            <tr><td colspan="8">No submissions!</td></tr>
        {% endfor %}
    </tbody>
</table>