{% extends 'mog/base.html' %}

{% load i18n %}
{% load paginator %}
{% load humanize %}
{% load filters %}

{% block title %}{% trans 'Submissions' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="title">{% trans 'Submissions' %}</h3>
        </div>

        <div class="col-md-12 text-center">
            <form action="{% url 'mog:submissions' %}" method="get" class="form-inline">
                <div class="form-group">
                    <label for="username" class="sr-only">{% trans 'User' %}</label>
                    <input id="username" name="username" type="text" class="form-control" value="{{ query.username }}"  placeholder="{% trans 'Username' %}">
                </div>
                <div class="form-group">
                    <label for="problem" class="sr-only">{% trans 'Problem' %}</label>
                    <input id="problem" name="problem" type="text" class="form-control"
                           value="{{ query.problem }}" placeholder="{% trans 'Problem' %}">
                </div>
                <div class="form-group">
                    <label for="result" class="sr-only">{% trans 'Result' %}</label>
                    <select id="result" name="result" class="form-control">
                        <option value="" selected>{% trans '-- Select result --' %}</option>
                        {% for result in results %}
                            <option value="{{ result.id }}"
                                    {% if query.result|inteq:result.id %}selected{% endif %}>{{ result.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="compiler" class="sr-only">{% trans 'Compiler' %}</label>
                    <select id="compiler" name="compiler" class="form-control">
                        <option value="" selected>{% trans '-- Select compiler --' %}</option>
                        {% for compiler in compilers %}
                            <option value="{{ compiler.id }}"
                                    {% if query.compiler|inteq:compiler.id %}selected{% endif %}>{{ compiler.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">{% trans 'Filter' %}</button>
            </form>

            <hr />
        </div>

        <div class="col-md-12">
            {% include 'mog/submission/_list.html' with submissions=submissions %}
        </div>

        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                {% if query %}
                    {{ submissions|paginate:query }}
                {% else %}
                    {{ submissions|paginate }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
