{% extends 'mog/base.html' %}

{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Frequently Asked Questions</h3>
        </div>

        <div class="col-md-12">
            <h3>Which programming languages can I use?</h3>
            <p>
                The system supports the following programming languages:
            </p>
            <ol>
                <li><strong><a href="#">C</a></strong>– C language.</li>
                <li><strong><a href="#">C++</a></strong>– C++ language</li>
                <li><strong><a href="#">C# 4.0</a></strong>– C# language</li>
                <li><strong><a href="#">Java</a></strong>– Java language</li>
                <li><strong><a href="#">Pascal</a></strong>– Pascal language</li>
                <li><strong><a href="#">Python</a></strong>– Python language</li>
                <li><strong><a href="#">Haskell</a></strong>– Haskell language</li>
                <li><strong><a href="#">FSharp</a></strong>– FSharp language</li>
            </ol>
            <h5><u>Special notes about Java</u></h5>
            There must be a class which must contain a name for the 'main' static methods (functions), this method is
            the entrance. Your main class name must be 'Main'.
            <h3>Which kind of input/output can I use?</h3>
            <p>
                MOG only supports the standard input and output, the system does not allow you manipulate files,
                otherwise, will be sentenced for Runtime Error or Wrong Answer.
            </p>
            <h3>When I submit a program, which are the possible results?</h3>
            <p>
                Here is a list with the possible submission results you can get:
            </p>
            <ol>
                <li><strong><a href="#">Pending</a></strong>– Your solution is waiting for judgment, this process is
                    generally not very long.
                </li>
                <li><strong><a href="javascript:;">Compiling</a></strong>– Your code is being compiled.</li>
                <li><strong><a href="javascript:;">Running</a></strong>– Your program is running.</li>
                <li><strong><a href="javascript:;">Accepted</a></strong>– Your program is correct, congratulations!</li>
                <li><strong><a href="javascript:;">Wrong Answer</a></strong>– Your solution didn't output the correct solution.</li>
                <li><strong><a href="javascript:;">Runtime Error</a></strong>– Your solution crashed during execution.</li>
                <li><strong><a href="javascript:;">Time Limit Exceeded</a></strong>– The running time of your program is beyond the problem time limit.</li>
                <li><strong><a href="javascript:;">Memory Limit Exceeded</a></strong>– The running memory of your program is beyond the problem memory limit.</li>
                <li><strong><a href="javascript:;">Compile Error</a></strong>– Your code couldn't be compiled. You can see the errors at the submission's details.</li>
                <li><strong><a href="javascript:;">Internal Error</a></strong> – There was an error on MOG system.</li>
            </ol>

            <h3>Which kind of errors will be penalized during a contest?</h3>
            <ol>
                <li><strong><a href="javascript:;">Wrong Answer</a></strong></li>
                <li><strong><a href="javascript:;">Runtime Error</a></strong></li>
                <li><strong><a href="javascript:;">Time Limit Exceeded</a></strong></li>
                <li><strong><a href="javascript:;">Memory Limit Exceeded</a></strong></li>
            </ol>

            <h3>How to solve A+B problem ?</h3>
            <p>Given two small integers $A$ and $B$ what is the result of $A + B$ ?</p>

            <small class="uniform-text">ASM</small>
            <textarea class="code" data-mode="gas" data-url="{% static 'mog/a+b/a+b.asm' %}"></textarea>

            <small class="uniform-text">C</small>
            <textarea class="code" data-mode="text/x-csrc" data-url="{% static 'mog/a+b/a+b.c' %}"></textarea>

            <small class="uniform-text">C++</small>
            <textarea class="code" data-mode="text/x-c++src" data-url="{% static 'mog/a+b/a+b.cpp' %}"></textarea>

            <small class="uniform-text">C#</small>
            <textarea class="code" data-mode="text/x-csharp" data-url="{% static 'mog/a+b/a+b.cs' %}"></textarea>

            <small class="uniform-text">F#</small>
            <textarea class="code" data-mode="text/x-fsharp" data-url="{% static 'mog/a+b/a+b.fs' %}"></textarea>

            <small class="uniform-text">Java</small>
            <textarea class="code" data-mode="text/x-java" data-url="{% static 'mog/a+b/a+b.java' %}"></textarea>

            <small class="uniform-text">Pascal</small>
            <textarea class="code" data-mode="text/x-pascal" data-url="{% static 'mog/a+b/a+b.pas' %}"></textarea>

            <small class="uniform-text">Python (2.7)</small>
            <textarea class="code" data-mode="text/x-python" data-url="{% static 'mog/a+b/a+b.py' %}"></textarea>

            {# Looks like FSharp? #}
            <small class="uniform-text">Tiger</small>
            <textarea class="code" data-mode="text/x-fsharp" data-url="{% static 'mog/a+b/a+b.tig' %}"></textarea>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="/static/mog/plugins/codemirror/lib/codemirror.css" rel="stylesheet"/>
    <link href="/static/mog/plugins/codemirror/theme/hopscotch.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/mog/plugins/codemirror/lib/codemirror.js"></script>

    <script type="text/javascript" src="/static/mog/plugins/codemirror/mode/clike/clike.js"></script>
    <script type="text/javascript" src="/static/mog/plugins/codemirror/mode/pascal/pascal.js"></script>
    <script type="text/javascript" src="/static/mog/plugins/codemirror/mode/python/python.js"></script>
    <script type="text/javascript" src="/static/mog/plugins/codemirror/mode/mllike/mllike.js"></script>
    <script type="text/javascript" src="/static/mog/plugins/codemirror/mode/sql/sql.js"></script>
    <script type="text/javascript" src="/static/mog/plugins/codemirror/mode/gas/gas.js"></script>

    <script>
        $(document).ready(function() {
            $('textarea.code').each(function() {
                $(this).load($(this).data('url'), function(response, status, xhr) {
                    if (status === 'success') {
                        $(this).text(response);
                        CodeMirror.fromTextArea(this, {
                            lineNumbers: true, indentUnit: 4, theme: 'hopscotch', mode: $(this).data('mode'), readOnly: true
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
