{% extends 'mog/base.html' %}

{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Frequently Asked Questions</h2>
        </div>

        <div class="col-md-12">
            <h3>Which programming languages can I use?</h3>
            <p>
                The system supports the following programming languages:
            </p>
            <ol>
                <li><strong>C</strong> &#x2013; GNU GCC 5.1.0 / 7.3.0</li>
                <li><strong>C++</strong> &#x2013; GNU G++ 5.1.0 / 7.3.0</li>
                <li><strong>C++11</strong> &#x2013; GNU G++11 5.1.0 / 7.3.0</li>
                <li><strong>C++17</strong> &#x2013; GNU G++17 7.3.0</li>
                <li><strong>C++20</strong> &#x2013; GNU G++20 13.2.0 (64bit)</li>
                <li><strong>C#</strong> &#x2013; MS C# .NET 4.7</li>
                <li><strong>Java</strong> &#x2013; Java 1.8</li>
                <li><strong>JavaScript</strong> &#x2013; JavaScript v8 4.8.0</li>
                <li><strong>Pascal</strong> &#x2013; Free Pascal 2.6.4</li>
                <li><strong>Python 2.7</strong> &#x2013; Python 2.7.13 (PyPy)</li>
                <li><strong>Python 2.7</strong> &#x2013; Python 2.7.13 (CPython)</li>
                <li><strong>Python 3.5</strong> &#x2013; Python 3.5.3 (CPython)</li>
                <li><strong>Python 3.9</strong> &#x2013; Python 3.9.16 (PyPy)</li>
                <li><strong>Haskell</strong> &#x2013; Haskell GHC 8.0.2</li>
                <li><strong>Kotlin</strong> &#x2013; Kotlin 1.3.50</li>
                <li><strong>Tiger</strong> &#x2013; <a href="http://matcomgrader.com/media/faq/tiger.pdf">tiger.pdf</a> (<small>101.8 kB</small>)</li>
            </ol>
            <h5><u>⚠️ Special notes about Java</u></h5>
            There must be a class which must contain a name for the 'main' static methods (functions), this method is
            the entrance. Your main class name must be 'Main'.
            <h3>Which kind of input/output can I use?</h3>
            <p>
                MOG only supports the standard input and output, the system does not allow you manipulate files,
                otherwise, will be sentenced for Runtime Error or Wrong Answer.
            </p>
            <h3>When I submit a program, which are the possible results?</h3>
            <p>
                Here is a list with the possible submission results you can get:
            </p>
            <ol>
                <li><strong>Pending</strong> – Your solution is waiting for judgment, this process is generally not very long.</li>
                <li><strong>Compiling</strong> – Your code is being compiled.</li>
                <li><strong>Running</strong> – Your program is running.</li>
                <li><strong>Accepted</strong> – Your program is correct, congratulations!</li>
                <li><strong>Wrong Answer</strong> – Your solution didn't output the correct solution.</li>
                <li><strong>Runtime Error</strong> – Your solution crashed during execution.</li>
                <li><strong>Time Limit Exceeded</strong> – The running time of your program is beyond the problem time limit.</li>
                <li><strong>Idleness Limit Exceeded</strong> – Your program waste too much time in idle status (IO, CPU waiting, etc.).</li>
                <li><strong>Memory Limit Exceeded</strong> – The running memory of your program is beyond the problem memory limit.</li>
                <li><strong>Compile Error</strong> – Your code couldn't be compiled. You can see the errors at the submission's details.</li>
                <li><strong>Internal Error</strong> – There was an error on MOG system.</li>
            </ol>

            <h3>Which kind of errors will be penalized during a contest?</h3>
            <ol>
                <li><strong>Wrong Answer</strong></li>
                <li><strong>Runtime Error</strong></li>
                <li><strong>Time Limit Exceeded</strong></li>
                <li><strong>Idleness Limit Exceeded</strong></li>
                <li><strong>Memory Limit Exceeded</strong></li>
            </ol>

            <h3>Problem Score</h3>
            <p style="text-align: justify;">
                Once a user solves a new problem his score will increase in
                value equal to the problem score. A problem is considered
                solved if the user accepted it in a real or virtual contest
                too, thus no extra submissions are needed.
            </p>

            <p style="text-align: justify;">
                The problem score formula is quite simple:
                $\large{\lfloor \frac{108}{12 + S} \rfloor + 1}$, where $S$ is the
                different number of users who solve the problem. The problem
                score is an integer between $1$ and $10$ inclusive and of course, the
                more users solve a problem, the lower the score will be.
            </p>

            <h3>How to solve A+B problem ?</h3>
            <p>Given two small integers $A$ and $B$ what is the result of $A + B$ ?</p>

{#            <small class="uniform-text">ASM</small>#}
{#            <textarea class="code" data-mode="gas" data-url="{% static 'mog/aplusb/aplusb.asm.txt' %}"></textarea>#}

            <small class="uniform-text">C</small>
            <textarea class="code" data-mode="text/x-csrc" data-url="{% static 'mog/aplusb/aplusb.c.txt' %}"></textarea>

            <small class="uniform-text">C++</small>
            <textarea class="code" data-mode="text/x-c++src" data-url="{% static 'mog/aplusb/aplusb.cpp.txt' %}"></textarea>

            <small class="uniform-text">C#</small>
            <textarea class="code" data-mode="text/x-csharp" data-url="{% static 'mog/aplusb/aplusb.cs.txt' %}"></textarea>

{#            <small class="uniform-text">F#</small>#}
{#            <textarea class="code" data-mode="text/x-fsharp" data-url="{% static 'mog/aplusb/aplusb.fs.txt' %}"></textarea>#}

            <small class="uniform-text">Java</small>
            <textarea class="code" data-mode="text/x-java" data-url="{% static 'mog/aplusb/aplusb.java.txt' %}"></textarea>

            <small class="uniform-text">JavaScript</small>
            <textarea class="code" data-mode="text/javascript" data-url="{% static 'mog/aplusb/aplusb.js.txt' %}"></textarea>

            <small class="uniform-text">Pascal</small>
            <textarea class="code" data-mode="text/x-pascal" data-url="{% static 'mog/aplusb/aplusb.pas.txt' %}"></textarea>

            <small class="uniform-text">Python2</small>
            <textarea class="code" data-mode="text/x-python" data-url="{% static 'mog/aplusb/aplusb.py2.txt' %}"></textarea>

            <small class="uniform-text">Python3</small>
            <textarea class="code" data-mode="text/x-python" data-url="{% static 'mog/aplusb/aplusb.py3.txt' %}"></textarea>

            <small class="uniform-text">Kotlin</small>
            <textarea class="code" data-mode="text/x-kotlin" data-url="{% static 'mog/aplusb/aplusb.kt.txt' %}"></textarea>
            {# Looks like FSharp? #}
            <small class="uniform-text">Tiger</small>
            <textarea class="code" data-mode="text/x-fsharp" data-url="{% static 'mog/aplusb/aplusb.tig.txt' %}"></textarea>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="/static/mog/plugins/codemirror/lib/codemirror.css" rel="stylesheet"/>
    <link href="/static/mog/plugins/codemirror/theme/hopscotch.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/clike/clike.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/pascal/pascal.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/python/python.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/mllike/mllike.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/sql/sql.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/gas/gas.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/codemirror/mode/javascript/javascript.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('textarea.code').each(function() {
                $(this).load($(this).data('url'), function(response, status, xhr) {
                    if (status === 'success') {
                        $(this).text(response);
                        CodeMirror.fromTextArea(this, {
                            lineNumbers: true, indentUnit: 4, theme: 'hopscotch', mode: $(this).data('mode'), readOnly: true
                        });
                    }
                });
            });
        });
    </script>

    {% include 'mog/includes/mathjax' %}
{% endblock %}
