{% extends 'mog/base.html' %}

{% load static %}
{% load i18n %}
{% load paginator %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col-md-12 well bckg-white">
                {% include 'mog/post/_post.html' with post=post %}
                <p>
                    <a href="{% url 'mog:post' post.id post.slug %}" class="no-underline">
                        {% trans 'Read more' %}
                    </a>
                </p>
            </div>
        {% endfor %}

        <div class="col-md-12 text-center">
            {{ posts|paginate }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'mog/includes/mathjax' %}
{% endblock %}