{% extends 'mog/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit problem' %}{% endblock %}

{% block left %}
    {% include 'mog/contest/_left.html' with contest=problem.contest problems_active='active' %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">{% trans 'Edit problem' %}
                <small><i>{{ problem.title }}</i></small>
            </h3>
        </div>

        <div class="col-md-12">
            <form action="{% url 'mog:problem_edit' problem.id %}" method="post">
                {% csrf_token %}
                {% include 'mog/includes/form.html' with form=form %}
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="{% url 'mog:problem' problem.id problem.slug %}" class="btn btn-lg btn-default btn-block">
                            {% trans 'Cancel' %}
                        </a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            {% trans 'Save' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block mathjax %}
    {# remove MathJax #}
{% endblock %}

{% block styles %}
    <link href="{% static 'mog/plugins/editor.summernote/summernote.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'mog/plugins/jquery.minicolors/jquery.minicolors.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mog/plugins/editor.summernote/summernote.js' %}"></script>
    <script type="text/javascript" src="{% static 'mog/plugins/jquery.minicolors/jquery.minicolors.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_balloon').minicolors({
                theme: 'bootstrap',
                position: 'top left'
            });
        });
    </script>
{% endblock %}