{% extends 'mog/base.html' %}

{% load paginator %}
{% load filters %}
{% load security %}
{% load i18n %}

{% block title %}Problems{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="title">Problems</h3>
        </div>

        <div class="col-md-12">
            <form action="{% url 'mog:problems' %}" method="get" class="form-inline form-search pull-right">
                <p>
                    <input type="hidden" name="tag" value="{{ query.tag }}"/>
                    <input class="form-control" name="q" type="text"
                           placeholder="{% trans 'Search by name ...' %}" {% if query %}value="{{ query.q }}"{% endif %}/>
                    <button type="submit" class="btn btn-default">{% trans 'Search' %}</button>
                </p>
            </form>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="cell-small center">{% trans 'Contest' %}</th>
                        <th>{% trans 'Title' %}</th>
                        <th class="cell-adjust-to-content center">
                            <a href="{{ query|add_sort_query:'points' }}" class="no-underline ">
                                {% if query.sort == 'points' and query.mode == 'asc'%}
                                    <i class="glyphicon glyphicon-arrow-up"></i> {% trans 'Points' %}
                                {% elif query.sort == 'points' and query.mode == 'desc'%}
                                    <i class="glyphicon glyphicon-arrow-down"></i> {% trans 'Points' %}
                                {% else %}
                                    <i class="glyphicon glyphicon-sort"></i> {% trans 'Points' %}
                                {% endif %}
                            </a>
                        </th>
                        <th class="cell-medium center">
                            <i class="glyphicon glyphicon-ok"></i>
                            <i data-toggle="tooltip" class="glyphicon glyphicon-user" title="Number of users that have solved the problem"></i>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for problem in problem_list %}
                        {% with status=problem|user_problem_status:user %}
                            {% if status == 'accepted' %}
                                <tr style="background-color: #DFF0D8;">
                                    {% elif status == 'attempted' %}
                                <tr style="background-color: #F2DEDE;">
                                    {% else %}
                                <tr class="">
                            {% endif %}
                        {% endwith %}

                        <td>
                            <a data-toggle="tooltip" href="{% url 'mog:contest_problems' problem.contest_id %}" class="no-underline" title="{{ problem.contest.name }}">
                                {{ problem.contest.code }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'mog:problem' problem.id problem.slug %}" class="no-underline">
                                {{ problem.letter }} - {{ problem.title }}
                            </a>
                            {% if not problem.contest.visible %}
                                (Hidden)
                            {% endif %}
                            {% if user|can_see_tags:problem %}
                                <div class="pull-right">
                                    {% for tag in problem.tags.all %}
                                        <a class="problem-tag" href="?tag={{ tag.name }}">
                                            <span class="label label-default">{{ tag.name|lower }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ problem.points }}</td>
                        <td class="text-center"> {{ problem.unique_users_solved }} </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No problems to show!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="text-center">
                {% if query %}
                    {{ page_obj|paginate:query }}
                {% else %}
                    {{ page_obj|paginate }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}