{% load humanize %}

{% load filters %}
{% load security %}
{% load i18n %}

{% if user|can_edit_problem:problem %}
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {% trans 'Actions' %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href="/static/mog/testlib/testlib.h" download>Download c++ test library "testlib.h"</a>
            </li>
            <li>
                <a href="/static/mog/testlib/testlib4j.jar" download>Download java test library "testlib4j.jar"</a>
            </li>
        </ul>
    </div>
{% endif %}