{% load filters %}

{% for field in form %}
    {% if field.label == 'Captcha' %}
        {# Hack to render captcha field #}
        {% include 'mog/includes/_captcha_field.html' with field=field %}
    {% else %}
        {# All other fields #}
        <div class="form-group">
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
            {% endif %}
            {%  if field|is_checkbox %}
                <div class="checkbox margin-left-25">
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="{{ label_class }}">{{ field.label }}</label>
                    {% if field.help_text %}<small class="form-help-text form-help-text-checkbox">{{field.help_text}}</small>{% endif %}
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}" class="{{ label_class }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.help_text %}<small class="form-help-text">{{field.help_text}}</small>{% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
