{% extends 'mog/base.html' %}

{% block title %}Register{% endblock %}

{% block messages %}{# overwrite super block  #}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h3 class="title">Register</h3>
            {% include 'mog/includes/_messages.html' with messages=messages %}
        </div>
        <div class="col-md-4 col-md-offset-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <form action="{% url 'mog:register' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group margin-bottom-10">
                                    <span class="input-group-addon" id="username_addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" name="username" class="form-control" placeholder="Username"
                                           aria-describedby="username_addon" value="{{ username }}" autofocus required>
                                </div>

                                <div class="input-group margin-bottom-10">
                                    <span class="input-group-addon" id="email_addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" name="email" class="form-control" placeholder="Email"
                                           aria-describedby="email_addon" value="{{ email }}" required>
                                </div>

                                <div class="input-group margin-bottom-10">
                                    <span class="input-group-addon" id="password_1_addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" name="password_1" class="form-control" placeholder="Password"
                                           aria-describedby="password_1_addon" required>
                                </div>

                                <div class="input-group margin-bottom-10">
                                    <span class="input-group-addon" id="password_2_addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" name="password_2" class="form-control" placeholder="Confirm password"
                                           aria-describedby="password_2_addon" required>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" value="Register" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
